body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
#signIn {
	background: url("../images/photographer_background.png");
	background-size: 100% 100%;
}
#logo {
	width: 400px;
	margin-top: 50px;
}
#map {
  height: 100%;
}

#signInBox {
    background-color: white;
    display: block;
    width: 500px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    opacity: 0.8;
    border-style: groove;
    border width: 4px;
    border-radius: 4px;
    border color:#c8c8c8;
}

#description {
	color: white;
    display: block;
    width: 610px;
    margin: auto;
    font-family: 'Roboto', sans serif;

}
/*Centers the login section*/
.login {
	text-align: center;
}
/*Sizes and centers input fields*/
.field {
	width:350px;
	margin:auto;
	/*box-sizing: border-box;*/
}
#signInText {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 3px;
	font-size: 50px;
	color: gray;
}

#map {
  height: 400px;
  width: 100%;
}
#flickr0, #flickr1, #flickr2, #flickr3, #flickr4, #flickr5, #flickr6, #flickr7, #flickr8, #flickr9, #flickr10 {
	display: inline-block;
	 width: 145px;
    height: 125px;
}

input {
	text-align: center;
}
