body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: url("../images/photographer_background.png");
	background-size: 100% 100%;
}
#signIn {
}
#logo {
	width: 400px;
	margin-top: 50px;
}
#map {
  height: 450px;
}
#signInBox {
    background-color: white;
    display: block;
    width: 500px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    opacity: 0.8;
    border-style: groove;
    border width: 4px;
    border-radius: 4px;
    border color:#c8c8c8;
}
#description {
	color: white;
    display: block;
    width: 610px;
    margin: auto;
    font-family: 'Roboto', sans serif;

}
/*Centers the login section*/
.login {
	text-align: center;
}
/*Sizes and centers input fields*/
.field {
	width:350px;
	margin:auto;
	/*box-sizing: border-box;*/
}
#signInText {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 3px;
	font-size: 50px;
	color: gray;
}
.flickrPic {
	display: inline-block;
	 width: 145px;
    height: 125px;
}

input {
	text-align: center;
}

@keyframes jello {
  from, 11.1%, to {
    transform: none;
  }

  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

#logo {
  animation-name: jello;
  transform-origin: center;
  animation-duration: 2s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

#description {
  animation-name: fadeInUp;
  animation-duration: 3s;
}
