/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

body
{
	background: url("../images/pretty.jpeg");
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.login {
	text-align: center;
}

.field {
	width:400px;
	margin:auto;
	/*box-sizing: border-box;*/
}

input {
	text-align: center;
}

.newUserRegHeader

{
	font-family: 'Gloria Hallelujah', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Carter One', cursive;
font-family: 'Russo One', sans-serif;
letter-spacing: 6px;
	text-align: center;
	padding-top: 100px;

}



#newUser
{
	clear: both;
	align-self: center;
	padding: 100px;
	border:200px;
	margin-left: 450px;
	margin-right: 450px;
	margin-bottom: 200px;


}

#newUserRegistration
{
	font-family: 'Play', sans-serif;
}

#buttons
{
 
}